.about {
    width: 100%;
    height: 100vh;
    background-color: $color-dark-gray;
    position: relative;
    box-shadow: 0px 5px 20px rgba($color-black, .4), 0px -5px 20px rgba($color-black, .4);
    overflow: hidden;

    @include respond(tab-port) {
        height: 210vh;
    }

    @include respond(phone) {
        height: 210vh;
    }

    &__overlay {
        width: 0;
        height: 0;
        border-bottom: 100vh solid $color-black;
        border-right: 55vw solid transparent;
        position: absolute;

        @include respond(tab-port) {
            border-bottom: 210vh solid $color-black;
            border-right: 190vw solid transparent;
        }

        @include respond(phone) {
            border-right: 300vw solid transparent;
        }

    }

    &__img--box {
        width: 50%;
        height: 100%;
        z-index: 2;
        position: relative;
        //background-color: orange;
        float: left;
        @include respond(tab-port) {
            position: relative;
            height: 50%;
            width: 100%;
        }


        &-container {
            position: absolute;
            width: 350px;
            height: 76vh;
            left: 50%;
            box-shadow: 4px 4px 10px rgba($color-black, .4);
            transition: all 0.4s;
            top: 50%;
            -webkit-transform:  translateX(-40%) translateY(-50%);
            transform: translateX(-40%) translateY(-50%);

            @include respond(tab-port) {
                margin-top: 15vh;
                width: 70%;
                margin-left: 0;
                margin-right: 0;
                left: 50%;
                height: 90vh;
                top: auto;
                -webkit-transform:  translateX(-50%);
                transform: translateX(-50%);
            }

            &-img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                position: absolute;
            }

            &:hover {
                -webkit-transform: translateX(-40%) translateY(-50%) scale(1.05);
                transform: translateX(-40%) translateY(-50%) scale(1.05);
                box-shadow: 8px 8px 20px rgba($color-black, .4);

                @include respond(tab-port) {
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%) scale(1.05);
                }
            }

        }
    }

    

    &__text {

        &--container {
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-60%) translateY(-50%);
            transform: translateX(-60%) translateY(-50%);

            @include respond(tab-port) {
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
            }
        }
    
        &--box {
            width: 50%;
            height: 100%;
            z-index: 2;
            text-align: center;
            //padding: 0 11vw 0 0;
            position: relative;
            float: right;
            //background-color: red;

            @include respond(tab-port) {
                position: relative;
                width: 100%;
                height: 50%;
                float: auto;
            }

            &-header {
                font-size: 30px;
                text-transform: uppercase;
                border-bottom: 1px solid $color-green;
                letter-spacing: 3px;
                display: inline-block;
                padding-bottom: 10px;
                margin-bottom: 20px;

                @include respond(phone) {
                    margin-top: 12vh;
                    font-size: 24px;
                }
            }

            &-subhead {
                font-size: 16px;
                margin-bottom: 20px;
                font-weight: 900;
                letter-spacing: 3px;
                line-height: 24px;

                @include respond(phone) {
                    font-size: 13px;
                }
            }

            &-text {
                font-size: 1.4rem;
                letter-spacing: 2px;
                line-height: 30px;
            }

            &-symbols {
                width: 70%;
                height: 100px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                font-weight: 900;
                letter-spacing: 3px;
                margin: 15px auto 0 auto;
                transform: all .5s;
        
                @include respond(tab-port) {
                    margin: 30px auto 0 auto;
                }

                @include respond(phone) {
                    width: 90%;
                }

                &-icon {
                    height: 100%;
                    width: 33%;
                    padding: 10px 10px 0px 10px;
                }

            }

        }
    }

}

.fas {
    color: white;
    z-index: 2;
    font-size: 45px;
    margin-bottom: 14px;
    transition: all .5s;
    cursor: pointer;
}

.fas:hover {
    transform: scale(1.2);
}

.fa-running:hover {
    color: rgb(85, 137, 233);
}

.fa-lightbulb:hover {
    color: yellow;
}

.fa-seedling:hover {
    color: $color-green;
}